/* GENERAL */
	* {
	    	font-family: "Roboto", "Source Han Sans JP Regular", "KFhimaji" !important;
	}
	html,
	body {
		background-color: #f4f6f6  !important;
		height: 100% !important;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

/* CONTENT */
	#container {
		background-image: url("background/background01.png");
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	/** WEATHER **/
		.details {
			background: #c2a5e7;
			border-radius: 3px;
			width: 180px;
			height: 50px;
			text-align: center;
			position: absolute;
			right: 20px;
			top: 20px;
		}
		#weather {
			line-height: 17px;
		}
		#description {
			color: #FFF;
			font-family: "Helvetica Rounded" !important;
			font-size: 12pt;
			text-transform: lowercase;
			display: inline-block;
		}
		#temp_curr {
			color: #FFF;
			font-family: "Helvetica Rounded" !important;
			font-size: 12pt;
			padding-left: 2px;
			display: inline-block;
		}
	/** SEARCH **/
		.form {
			text-align: right;
			position: absolute !important;
			top: 90px !important;
			right: 0px !important;
			margin: auto !important;
			z-index: 9999 !important;
		}
		#image-button {
			background-image: url("icons/submit.png");
			background-repeat: no-repeat;
			background-position: left;
			background-size: 27px auto;
			padding: 16px 20px 16px 16px;
			width: 10px;
			margin-left: -26px;
		}
		input {
			background: #453744;
			border: none;
			border-radius: 2px;
			color: #FFF;
			font-size: 10pt;
			padding: 17px 20px;
			text-align: left;
			width: 180px;
			margin-right: 20px;
			transition: .3s ease-in-out !important;
		}
		input:focus {
			width: 300px;
			transition: .3s ease-in-out !important;
		}
	/** SIDEBAR **/
		.sidebar {
			background: #472936;
			width: 20% !important;
			height: 100% !important;
			margin-left: -20% !important;
			transition: all .3s ease-in-out;
			z-index: 99 !important;
		}
		.sidebar:hover {
			margin-left: 0% !important;
		}
		.border {
			background: #c2a5e7;
			height: 100% !important;
			width: 50px !important;
			position: absolute;
			margin-left: 20%;
		}
		.box {
			padding-right: 30px;
			padding-top: 45%;
		}
		.box a {
			color: #FFF;
			font-family: "Helvetica Rounded" !important;
			font-size: 13pt;
			line-height: 30px;
			text-align: right;
			text-decoration: none;
			display: block !important;
			transition: all .3s ease-in-out;
		} 
		.box a:hover {
			color: #40d6f7;
		}
		.box h1 {
			color: #FFF;
			font-family: "Helvetica Rounded", "KFhimaji" !important;
			text-align: right;
		}
		.button {
			background: transparent;
			border: none !important;	
			color: #000;
			font-family: "Helvetica Rounded" !important;
			position: absolute;
			margin-left: 20%;
			margin-top: 18%;
		}
		.button.active {
			background: #472936;
			color: #FFF;
		}
		#first-btn {
			padding: 17px 15px;
			top: 10px;
		}
		#second-btn {
			padding: 17px 14px;
			top: 62px;
		}
		#third-btn {
			padding: 17px 14px;
			top: 114px;
		}
		#click-btn:active .sidebar {
			margin-left: 0px !important;
		}
